.reveal h1 { font-size: 1.8em;
             text-shadow: none;
             font-weight: bold;
             text-transform: none;
           }

.reveal h2 { font-size: 1.5em;
           }

h1.title { margin-bottom: 0.5em;
           margin-top: 1.5em; }
